*{
    font-family: 'Roboto', sans-serif;
}

/* Header */

header{
    height: 140px;
    background: #03a9f4;
    background-image: url(../img/pattern.png);
    background-attachment: fixed;
    background-position: center;
}

.logo{
    width: 285px;
    padding: 62px 20px 0px 15px;
}

/* Container */

.title h1{
    margin: 0;
}

.title p{
    color: #9e9e9e;
    margin: 0;
}

.colorblue{
    color: #03a9f4;
}

.size{
    font-size: 13px;
}

/* Slider section */

.slider{
    margin-top: 20px;
}

.slider p{
    font-size: 13px;
    margin: 0;
}